{% extends 'layout.twig' %}

{% block title %}All {{ customers|length }} customers{% endblock %}

{% block body %}

    <h1>All {{ customers|length }} customers</h1>
    <ul>
        {% for customer in customers %}
            <li><a href="{{ url('customer', customer) }}">{{ customer.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}