{% extends 'layout.twig' %}

{% block javascript %}
    {{ parent() }}
    <script>
    window.spacecraft = window.spacecraft||{};
    window.spacecraft.collections = {{ collections|json_encode }}
    window.spacecraft.schema = {{ schema|json_encode }};
    window.spacecraft.entities = {{ entities|json_encode }};
    </script>
    <script src="/js/index.js"></script>
{% endblock %}

{% block title %}Crater{% endblock %}

{% block body %}
    <div id="main"></div>
 {% endblock %}
